/* DOCUMENT INFORMATIONS
    - Document : Site Olonne Plongée
    - version : 1.0.0
    - Author : Yoann
*/

/* COLORS
    - #00263D Bleu foncé
    - #1A97C3 Bleu moyen
    - #39A9DB Bleu plus clair
    - #FCFFAD Jaune
    - #FFFFFF Blanc

*/

/* FONTS
    - Menu / Titles / Sub titles / Header : Comfortaa
    - Texts : Montserrat

*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =CARROUSEL + HOME TITLE
    4. =INTRO + TOP RESA
    5. =EVENEMENT
    6. =CLUB
    7. =EMPLOYEES
    8. =OUTING
    9. =TRIP
    10.=FIRSTDIVE



    .=FOOTER

*/


/* GLOBAL
==================================================*/
body {
    padding-top: 113.05px;
}

h1 {
    font-family: 'impact', 'arial', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 5em!important;
}


h2 {
    font-family: 'Comfortaa', 'arial', sans-serif;
    color: #FFFFFF;
}

h3 {
    font-family: 'Comfortaa', 'arial', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0 20px 0;
    margin: 0!important;
}
h3:after {
    display: block;
    height: 1px;
    background: linear-gradient(to right, #FFFFFF, #FCFFAD, #FFFFFF);
    width: 200px;
    content:" ";
    margin: 0 auto;
    margin-top: 10px;
}

h4 {
    font-family: 'Comfortaa', 'arial', sans-serif;
    text-align: center;
    margin: 0!important;
}

h5 {
    font-family: 'Comfortaa', 'arial', sans-serif;
    text-align: center;
}

p {
    font-family: 'Montserrat', 'arial', sans-serif;
    color: #00263D;
    text-align: justify;
}

.container {
    padding: 30px 0;
}

.btn {
    border: 1px solid #FFFFFF!important;
    color: #00263D!important;
    background-color: #FCFFAD!important;
    transition: 1s!important;
}
.btn:hover {
    color: #1A97C3!important;
    background-color: #FFFFFF!important;
    border: 1px solid #1A97C3!important;
    transition: 1s!important;
}


/* HEADER
==================================================*/

header {
    position: relative;
}

.navbar .container {
    padding: 0;
}

nav a {
    font-family: 'Comfortaa', 'arial', sans-serif;
    color: #FFFFFF!important;
    transition: 1s;
}

nav a:hover {
    color: #FCFFAD!important;
    transition: 1s;
}

.active {
    color: #FCFFAD!important;
}

.dropdown-menu {
    background-color: #39A9DB!important;
}

.dropdown-menu a:hover {
    background-color: #00263D!important;
}



/* CARROUSEL + HOME TITLE
==================================================*/

.home-title {
    position: absolute;
    top: 60%;
    left: 10%;
}

.home-title h2 {
    margin-top: -10px;
    margin-bottom: 30px;
}

.home-title .btn {
    margin-right: 20px;
}





/* INTRO + TOP RESA
==================================================*/

.intro {
    background-color: #39A9DB;
}


.introtext h3:after {
    background: linear-gradient(to right, #39A9DB, #FCFFAD, #39A9DB);
}

.rowintro {
    padding: 0 10px;
}

.top3 {
    background-color: #1A97C3;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.top3 h3:after {
    background: linear-gradient(to right, #1A97C3, #FCFFAD, #1A97C3);
}

.top3 img {
    display: block;
    margin: 10px auto 10px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #FCFFAD;
    box-shadow: 1px 1px 10px  #00263D;
    transition: 1s;
}

.top3 img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.top3 p {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 10px;
}

iframe {
    display: block;
    margin: 30px auto;
}




/* EVENEMENT
==================================================*/

.event {
    background-image: linear-gradient(
        rgba(7, 117, 230, 0.4),
        rgba(7, 117, 230, 0.4)
      ), url(/site-olonneplongee/resources/images/sables.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.event .far {
    padding-right: 20px;
    font-size: 1.2em;
}

.event h3 {
    color: #FFFFFF;
    text-align: center;
}
.event h3:after {
    background: linear-gradient(to right, #39a8db00, #FCFFAD, #39a8db00);
}

.event p {
    color: #FFFFFF;
    text-align: center;
}


/* CLUB
==================================================*/

.business {
    background-color: #1A97C3;
}

.business h3:after {
    background: linear-gradient(to right, #1A97C3, #FCFFAD, #1A97C3);
}

.galery-img {
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px  #00263D;
}

.galery-title {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.galery-title h4 {
    color: #FFFFFF;
    background-color: #00263D;
    padding: 5px;
    border-radius: 5px;
}


/* EMPLOYEES
==================================================*/

.employees {
    background-color: #FFFFFF;
}

.employees h3:after {
    background: linear-gradient(to right, #FFFFFF, #1A97C3, #FFFFFF);
}



.galery-emp img {
    display: block;
    margin: 50px auto 10px auto;
    border-radius: 50%;
    border: 2px solid #00263D;
    box-shadow: 1px 1px 10px  #00263D;
}

.galery-emp p{
    font-size: 0.8em;
    text-align: center;
    margin: 0px;
}


/* OUTING
==================================================*/

#outing {
    background-color: #39A9DB;
}

.outing-title h3:after {
    background: linear-gradient(to right, #39A9DB, #FCFFAD, #39A9DB);
}

.outing-title p {
    text-align: center;
}

.outing-list img {
    display: block;
    margin: 0 auto;
    width: 200px;
}




/* TRIP
==================================================*/

#trip {
    background-color: #FFFFFF;
}

.trip-title h3:after {
    background: linear-gradient(to right, #FFFFFF, #39A9DB, #FFFFFF);
}

.trip-title p {
    text-align: center;
}

.trip-list img {
    display: block;
    margin: 0 auto;
    width: 200px;
}




/* FIRST DIVE
==================================================*/

#firstdive {
    background-color: #FCFFAD;
}

.firstdive-title h3:after {
    background: linear-gradient(to right, #FCFFAD, #39A9DB, #FCFFAD);
}

.firstdive-details img {
    display: block;
    width: 400px;
    margin: 0 auto;
}



/* FIRST DIVE
==================================================*/

#grade {
    background-color: #FFFFFF;
}

.grade-title h3:after {
    background: linear-gradient(to right, #FFFFFF, #39A9DB, #FFFFFF);
}

.grade-details img {
    width: 200px;
}






























/* FOOTER
==================================================*/

footer {
    background-color: #00263D;
}

footer h3 {
    color: #FFFFFF
}
footer h3:after {
    background: linear-gradient(to right, #00263D, #FCFFAD, #00263D);
}

.reseaux {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.reseaux a {
    margin: 0 15px;
    color: #FFFFFF;
    transition: 1s;
}
.reseaux a:hover {
    color: #FCFFAD;
    transform: scale(1.2);
    transition: 1s;
}

.copyright {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Montserrat', 'arial', sans-serif;
    font-size: 0.7em;
    padding-top: 30px;
}




@media screen and (max-width: 500px) {
    h1 {
        font-size: 2em!important;
    }
    h2 {
        font-size: 0.9em!important;
        margin-bottom: 5px!important;
    }
    .home-title {
        top: 30%;
        left: 13%;
    }
    .home-title a {
        font-size: 0.7em;
    }
    .home-title .btn {
        margin-right: 8px;
    }
    .youtube-vid {
        overflow:hidden; 
        padding-bottom:56.25%; 
        position:relative; 
        height:0;
        margin-bottom: 40px;
    }      
    .youtube-vid iframe {
        left:0; 
        top:0; 
        height:100%;
        width:100%;
        position:absolute;
    }
    .galery-title {
        right: 15px;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    h1 {
        font-size: 2.8em!important;
    }
    h2 {
        font-size: 1.2em!important;
        margin-bottom: 10px!important;
    }
    .home-title {
        top: 35%;
        left: 15%;
    }
    .home-title a {
        font-size: 0.9em;
    }
    .youtube-vid {
        overflow:hidden; 
        padding-bottom:56.25%; 
        position:relative; 
        height:0;
        margin-bottom: 40px;
    }      
    .youtube-vid iframe {
        left:0; 
        top:0; 
        height:100%;
        width:100%;
        position:absolute;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 3.5em!important;
    }
    h2 {
        font-size: 1.5em!important;
        margin-bottom: 15px!important;
    }
    .home-title {
        top: 50%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .home-title {
        top: 50%;
    }
}






