/* DOCUMENT INFORMATIONS
    - Document : Site Olonne Plongée
    - version : 1.0.0
    - Author : Yoann
*/

/* COLORS
    - #00263D Bleu foncé
    - #1A97C3 Bleu moyen
    - #39A9DB Bleu plus clair
    - #FCFFAD Jaune
    - #FFFFFF Blanc

*/

/* FONTS
    - Menu / Titles / Sub titles / Header : Comfortaa
    - Texts : Montserrat

*/

/* CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =CARROUSEL
    4. =
    5. =
    6. =
    7. =
    8. =
    9. =
    10.=FOOTER

*/


/* GLOBAL
==================================================*/

h1 {
    font-family: 'Comfortaa', 'arial', sans-serif;
}

h2 {
    font-family: 'Comfortaa', 'arial', sans-serif;
}

h3 {
    font-family: 'Comfortaa', 'arial', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    margin: 0!important;
}
h3:after {
    display: block;
    height: 2px;
    background: linear-gradient(to right, #FFFFFF, #FCFFAD, #FFFFFF);
    width: 200px;
    content:" ";
    margin: 0 auto;
    margin-top: 10px;
}

h4 {
    font-family: 'Comfortaa', 'arial', sans-serif;
}

p {
    font-family: 'Montserrat', 'arial', sans-serif;
}


/* HEADER
==================================================*/

header {
    height: 113.05px;
}

nav a {
    font-family: 'Comfortaa', 'arial', sans-serif;
    color: #FFFFFF!important;
    transition: 1s;
}

nav a:hover {
    color: #FCFFAD!important;
    transition: 1s;
}

.active {
    color: #FCFFAD!important;
}

.dropdown-menu {
    background-color: #1A97C3!important;
}

.dropdown-menu a:hover {
    background-color: #00263D!important;
}



/* CARROUSEL
==================================================*/



/* CARROUSEL
==================================================*/


















































/* FOOTER
==================================================*/

footer {
    background-color: #00263D;
}

footer h3 {
    color: #FFFFFF
}
footer h3:after {
    background: linear-gradient(to right, #00263D, #FCFFAD, #00263D);
}

.reseaux {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.reseaux a {
    margin: 0 15px;
    color: #FFFFFF;
    transition: 1s;
}
.reseaux a:hover {
    color: #FCFFAD;
    transform: scale(1.2);
    transition: 1s;
}



